body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: white;
}

.btn {
    height: 20px;
    width: 70px;
    font-size: 12px;
    border: 1px solid #006aff;
    color: #006aff;
    line-height: 7px;
}

.sev_navbar .logo {
    height: 40px;
    width: auto;
    padding-top: 10px;
    padding-right: 30px;
}

.sev_navbar .navbar-nav {
    /* padding-top: 5px; */
    font-size: 12px;
}

.sev_navbar .navbar-nav li a {
    color: #12295a;
    /* color: red; */
}

.sev_navbar .navbar-nav .navbar-right .btn-empty {
    border: 1px solid #006aff;
    color: #006aff;
}
